@import url('https://fonts.googleapis.com/css?family=Allerta|Montserrat:400,700');
/*
* {
	border: 2px solid red;
	Viendo con las manecillas del reloj
	padding: 10px 13px 5px 15px;
	padding: 10px;
	margin: 10px;
}
*/
body {
	font-family: 'Allerta', sans-serif;
	margin: 0px;
}

header {
	position: relative;
}

button {
	border-radius: 8px;
	color: white;
	padding: 5px 20px;
	background-image: linear-gradient(to left, #fe344e,#ff7250);
	border: none;
	transition: 0.2s;
	box-shadow: 0 0 10px #eee;
	cursor: pointer;
}

button:hover {
	border-radius: 8px;
	background-color: #FD3690;
	color: white;
	border: solid #FD30A5;
	background-position: right center;
}


.contenedor {
	width: 800px;
	margin: auto;
}

.titulo {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	font-size: 60px;
	padding-top: 70px;
	/*border: 5px solid red;*/
}

.titulo span {
	text-decoration: underline;
}

.title-a {
	font-size: 24px;
	margin-top: 0;
	margin-left: 10px;
}

.guitarras {
	color: #1F313C;
	margin-bottom: 80px;
}

.guitarras h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

.title-b {
	font-size: 50px;
	margin-bottom: 20px;
}

.portada {
	background-image: url("../images/background.png");
	background-color: white;
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 20px;
	height: 500px;
}

.portada button {
	margin-bottom: 70px;
	font-size: 18px;
}

.menu {
	font-size: 24px;
	/*Le vale el orden de todo dentro de un contenedor relative*/
	position: absolute;
	right: 0;
}

.logotipo, .menu, .menu li {
	display: inline-block;
}

.logotipo {
	margin-left: 0;
}

.menu li {
	margin-left: 30px;
}

/*Pseudoelementos en HTML*/
/*IMportante para la indexaxion con google*/
.menu li:before {
	content: '∘';
	font-size: 30px;
	line-height: 20px;
}

.menu li a {
	color: white;
	font-variant: small-caps;
	text-decoration: none;
}

.guitarra {
	margin: 10px 10px 30px 10px;
	padding: 10px;
	/*Dos propiedades para estabilizar flotadores*/
	/*Overflow se quita para mostrar la position relative del guitarrista*/
	/*overflow: hidden;*/

	border: 1px solid #1F313C;
	/*Padre relativo, retiene al hijo absoluto*/
	/*position: relative;*/
	border-radius: 8px;
}

.train {
	height: 210px;
}

.guitarra ol {
	padding: 0;
}

/*Flotadores para imagenes*/
.right {
	float: right;
	/*El hijo absoluto se pocisiona dentro del padre relativo*/
	/*position: absolute;*/
	position: relative;
	top: -126px;
}

.left {
	float: left;
	position: relative;
	width: 350px;
}

.contenedor-guitarra-a {
	padding-left: 20px;
}

.contenedor-guitarra-b {
	margin-left: 370px;
	position: relative;
	bottom: 45px;
}


/*Pie de pagina o footer*/
.footer {
	background-color: #273b47;
	color: white;
}
.footer p {
	text-align: center;
	padding-bottom: 10px;
}

.contacto {
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: flex-start;
}

.contacto img {
	display: block;
	padding-top: 20px;
}

.contacto strong {
	display: block;
	color: white;
}
.contacto a {

	color: white;
	text-decoration: none;
	margin: 10px 10px 10px 0;
}

.formulario {
	color: white;
	/*Flex para separar col1 de col2*/
	display: flex;
	width: 400px;
	padding: 25px 10px; 
}

input, textarea {
	outline: 0;
}

input:focus, textarea:focus {
	background-color: lightgray;
}

.formulario .submit {
	border-radius: 8px;
	color: white;
	padding: 5px 20px;
	margin-top: 20px;
	background-image: linear-gradient(to left, #fe344e,#ff7250);
	border: none;
	transition: 0.2s;
	box-shadow: 0 0 10px #eee;
	cursor: pointer;
	}


.formulario .submit:hover {
	border-radius: 8px;
	color: white;
	border: solid #FD30A5
}

/*Flexbox*/
.footer .flex-foot {
	display: flex;
	/*ESpaciado entre contacto y formulario */
	justify-content: space-between;
}

.formulario label {
	margin-bottom: 8px;
}

.col1, .col2 {
	display: flex;
	flex-direction: column;
}

.col1 {
	margin-right: 15px;
}

.col1 input {
	margin-bottom: 8px;
}

.col2 {
	align-items: flex-start;
}

.gender {
	margin-bottom: 8px;
}

.intereses, .gender label {
	font-size: 12px;
}

table {
	width: 100%;
}

th {
	background-color: #273b47;
	color: white;
	padding: 10px;
}

td {
	padding: 20px;
}

table, td, th {
	border: 5px solid #273b47;
	border-collapse: collapse;
}
.tabla {
	margin-top: 50px;
	margin-bottom: 50px;
}

.pricing a button:hover {
	border: none;
	background-image: linear-gradient(to right, #fe344e,#ff7250);
}

.order {
	padding-left: 350px;
}