@import url('https://fonts.googleapis.com/css?family=Allerta|Montserrat:400,700');
/*
* {
	border: 2px solid red;
	Viendo con las manecillas del reloj
	padding: 10px 13px 5px 15px;
	padding: 10px;
	margin: 10px;
}
*/
body {
	font-family: 'Allerta', sans-serif;
	margin: 0px;
}

header {
	position: relative;
}

button {
	border-radius: 8px;
	background-color: #fd324e;
	color: white;
	border: 2px solid #fd324e;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;

}

button:hover {
	border-radius: 8px;
	background-color: #FD3690;
	color: white;
	border: solid #FD30A5;
}

.titulo {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	font-size: 70px;
	padding-top: 70px;
	/*border: 5px solid red;*/
}

.title-a {
	font-size: 24px;
	margin-top: 0;
}

.guitarras {
	color: #1F313C;
}

.guitarras h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

.title-b {
	font-size: 50px;
	margin-bottom: 20px;
}

.portada {
	background-image: url("../images/background.png");
	background-color: white;
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 20px;
	height: 400px;
}

.portada button {
	margin-bottom: 70px;
}

.menu {
	font-size: 24px;
	/*Le vale el orden de todo dentro de un contenedor relative*/
	position: absolute;
	right: 0;
}

.logotipo, .menu, .menu li {
	display: inline-block;
}

.menu li {
	margin-left: 30px;
}

.menu li a {
	color: black;
	font-variant: small-caps;
	text-decoration: none;
}


.contenedor {
	width: 800px;
	margin: auto;
}

.guitarra {
	margin: 10px;
	padding: 10px;
	/*Dos propiedades para estabilizar flotadores*/
	/*Overflow se quita para mostrar la position relative del guitarrista*/
	/*overflow: hidden;*/

	border: 1px solid #1F313C;
	/*Padre relativo, retiene al hijo absoluto*/
	/*position: relative;*/
	border-radius: 8px;
}

.guitarra ol {
	padding: 0;
}

/*Flotadores para imagenes*/
.right {
	float: right;
	/*El hijo absoluto se pocisiona dentro del padre relativo*/
	/*position: absolute;*/
	position: relative;
	top: -126px;
}

.left {
	float: left;
	position: relative;
	top: 80px;
}

.contenedor-guitarra-a {
	padding-left: 20px;
}

.contenedor-guitarra-b {
	margin-left: 370px;
}

.footer {
	background-color: #273b47;
	color: white;
}

.contacto img {
	display: block;

}

.contacto strong {
	display: block;
	color: white;
}
.contacto a {
	color: white;
	text-decoration: none;
}
